#banner-main-text {
    color:rgba(255, 255, 255, 0.699);
    font-size:0.8em;
}

#banner-sub-text {
    font-size:0.4em;
    color:rgba(255, 255, 255, 0.678);
    margin-bottom:10px;
}
#banner-border {
    margin-top:10px;
    
    margin-bottom:10px;
}

#banner-content {
    
}

.modal-btn {
    background-color: #01bcfa;
    color:white;
    border:1px solid #01bcfa;
    font-size: 2em;
}
.modal-btn:hover{
    background-color: transparent;
    color:#01bcfa;
    
}
/*
.border {
    background: #52edc7;
    width: 40%;
    margin: 0 auto;
    padding: 1px;
}
@media (max-width:768px){
    .border {
        width: 80%;
    }
}*/
.flex-container {
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-column{
    flex-direction:column;
}
.wrap {
    flex-wrap:wrap;
}
#social-media i,#social-media a:link {
  font-size:0.8em;
  margin:0.2em;
  color:#86ffe1;
}

#social-media i:hover {
  color: white;
}