#tutorials {
    padding: 130px 0 100px 0;
    text-align: left; }
    #tutorials .flex.row-gt-sm, #tutorials .flex.wrap {
      align-items: flex-start; }
    #tutorials .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    #tutorials .blog-wrap {
      margin: 0 0 50px 0;
      padding: 0 2px;
      width: 100%;
      cursor: pointer; }
      #tutorials .blog-wrap .fade-wrap {
        transition: opacity .3s; }
      #tutorials .blog-wrap.fade .fade-wrap {
        opacity: 0.4; }
      #tutorials .blog-wrap.hover .fade-wrap .label {
        color: #04C2C9; }
    #tutorials .label {
      line-height: 14pt;
      font-size: 12pt;
      transition: color .3s ease-in-out; }
    #tutorials .thumb {
      height: 150px;
      margin: 0 0 15px 0; }
    #tutorials .date {
      font-size: 7pt;
      font-family: 'Open sans';
      margin: 5px 0 0 0; }
    #tutorials .bar {
      height: 3px;
      width: 25%;
      background: #04C2C9;
      margin: 10px 0px; }
    #tutorials .text {
      font-size: 9pt;
      line-height: 13pt;
      max-height: 85px; }