<section id="about">
  <div class="container flex">

    <div class="header waypoint" data-animation="slide-in-left">ABOUT</div>
    <div class="header-bar waypoint" data-animation="slide-in-left" data-delay=".5s"></div>

    <div class="flex row label-wrap">

      {% assign rows = site.data.person.about_features.size | divided_by: 2.0 | ceil %}
      {% for i in (1..rows) %}
      <div class="flex row-gt-sm">
        {% assign offset = forloop.index0 | times: 2 %}
        {% for feature in site.data.person.about_features limit:2 offset:offset %}
          <div class="flex bullet-wrap ">
            <div class="hex-wrap waypoint" data-animation="flip-in-x">
              <div class="hexagon">
                <i class="{{feature.icon_class}}"></i>
              </div>
            </div>
            <div class="waypoint" data-animation="fade-in">
              <div class="label bold">{{feature.name}} </div>
              <div>{{feature.description}} </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    {% include skills.html %}
  </div>
</section>