<section id="blog">
  <div class="container flex">

    <div class="header waypoint" data-animation="slide-in-left">BLOG</div>
    <div class="header-bar waypoint" data-animation="slide-in-left" data-delay=".5s"></div>

    <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@mfrashad","postsPerLine":2,"limit":4,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>

  </div>
</section>