<section id="blog">
  <div class="container flex">

    <div class="header waypoint" data-animation="slide-in-left">BLOG</div>
    <div class="header-bar waypoint" data-animation="slide-in-left" data-delay=".5s"></div>

    <div class="flex row wrap">
      <div class="flex row-gt-sm">
        <a href="http://blog.eyecuelab.com/2016/04/29/breaking-your-coders-block/" target="_blank">
          <div class="blog-wrap waypoint" data-animation="fade-in">
            <div class="fade-wrap">
              <div class="thumb" id="thumb-1"></div>
              <div class="label bold">Breaking Your Coder's Block</div>
              <div class="date">APRIL 29, 2016</div>
              <div class="bar"></div>
              <div class="text">
                At one time or another, as a developer, we've all found ourselves hopelessly stuck on a coding issue...
              </div>
            </div>
          </div>
        </a>
        <a href="http://blog.eyecuelab.com/2015/03/19/this-is-your-brain-on-caffeine/" target="_blank">
          <div class="blog-wrap waypoint" data-animation="fade-in" data-delay=".2s">
            <div class="fade-wrap">
              <div class="thumb" id="thumb-2"></div>
              <div class="label bold">!Awake: This is Your Brain on Caffeine</div>
              <div class="date">MARCH 19, 2015</div>
              <div class="bar"></div>
              <div class="text">
                If there's one thing I can truly claim to be an expert on, it's staying awake. For five years I struggled to stay employed...
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="flex row-gt-sm">
        <a href="http://blog.eyecuelab.com/2015/03/04/getting-a-handle-on-handlebars/" target="_blank">
          <div class="blog-wrap waypoint" data-animation="fade-in" data-delay=".4s">
            <div class="fade-wrap">
              <div class="thumb" id="thumb-3"></div>
              <div class="label bold">Getting a Handle on Handlebars</div>
              <div class="date">MARCH 04, 2015</div>
              <div class="bar"></div>
              <div class="text">
                Here at EyeCue Lab we render most of our data-laden HTML pages in Handlebar templates...
              </div>
            </div>
          </div>
        </a>
        <a href="http://blog.eyecuelab.com/2015/02/23/essential_extensions/" target="_blank">
          <div class="blog-wrap waypoint" data-animation="fade-in" data-delay=".6s">
            <div class="fade-wrap">
              <div class="thumb" id="thumb-4"></div>
              <div class="label bold">5 Extensions for Your Chrome Toolbelt</div>
              <div class="date">FEBRUARY 23, 2015</div>
              <div class="bar"></div>
              <div class="text">
                If you're not using Google Chrome as a front-end web developer, you're missing out. Not only is Chrome the...
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>