<section id="contact">
  <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
  </svg>
  <div class="container flex">
    <div class="header waypoint" data-animation="slide-in-left">CONTACT</div>
    <div class="header-bar waypoint" data-animation="slide-in-right" data-delay=".25s"></div>
    <div class="highlight waypoint" data-animation="slide-in-right" data-delay=".5s">Have a question or want to work together?</div>
    <form class="waypoint" data-animation="pop-in" data-delay=".5s" id="contact-form">
      <input placeholder="Name" type="text" name="name" required>
      <input placeholder="Enter email" type="email" name="email" required>
      <textarea placeholder="Your Message" type="text" name="message"></textarea>
      <div id="success">
        <div>Your message was sent successfully. Thanks!<span id="close" class="mdi mdi-close"></span></div>
      </div>
      <input class="button" type="submit" id="submit" value=SUBMIT>
    </form>
  </div>
</section>