<footer>
  <i class="mdi mdi-chevron-double-up page-link" dest="home"></i>

  <div class="icon-wrap flex row">
    <a href="https://www.linkedin.com/in/mfathyrashad">
      <div class="flex icon" id="icon-2">
        <i class="mdi mdi-linkedin"></i>
      </div>
    </a>
    <a href="https://github.com/mfrashad">
      <div class="flex icon" id="icon-3">
        <i class="mdi mdi-github-circle"></i>
      </div>
    </a>
  </div>
  <div class="info-box">
    <!--div class="footnote"><span class="highlight">&copy;2015</span></div-->
  </div>
</footer>