<footer>
  <i class="mdi mdi-chevron-double-up page-link" dest="home"></i>

  <div class="icon-wrap flex row">
    <a href="https://www.linkedin.com/in/mattwilliams85">
      <div class="flex icon" id="icon-2">
        <i class="mdi mdi-linkedin"></i>
      </div>
    </a>
    <a href="https://www.facebook.com/matthew.williams.351">
      <div class="flex icon" id="icon-3">
        <i class="mdi mdi-facebook"></i>
      </div>
    </a>
    <a href="https://instagram.com/infinite_edge/">
      <div class="flex icon" id="icon-4">
        <i class="mdi mdi-instagram"></i>
      </div>
    </a>
    <a href="http://codepen.io/matthewwilliams/">
      <div class="flex icon" id="icon-5">
        <i class="mdi mdi-codepen"></i>
      </div>
    </a>
  </div>
  <div class="info-box">
    <div class="footnote">MATTHEW WILLIAMS <span class="highlight">&copy;2015</span></div>
  </div>
</footer>