{% include modal.html %}

<section id="home" class="flex height-fix">
  <div id="pt" class="canvas"></div>
  <div class="flex">

    <div class="text">
      Hello, I'm <span class="highlight">{{site.data.person.name}}</span>.
      <br>I'm a <span
      class="txt-rotate"
      data-period="1000"
      data-rotate='[ "Student", "Web Developer", "Full-Stack Developer", "Lifelong Learner"]'>
    </span>.
    </div>

    <div class="icon-wrap flex row">
      <a href="https://www.linkedin.com/in/mfathyrashad">
        <div class="flex icon" id="icon-2">
          <i class="mdi mdi-linkedin"></i>
        </div>
      </a>
      <a href="https://medium.com/@mfrashad">
        <div class="flex icon" id="icon-2">
          <i class="mdi mdi-medium"></i>
        </div>
      </a>
      <a href="https://github.com/mfrashad">
        <div class="flex icon" id="icon-3">
          <i class="mdi mdi-github-circle"></i>
        </div>
      </a>
    </div>

    <a href="/CV.pdf" target="_blank"><div class="button page-link" dest="about">Download CV <i class="mdi mdi-arrow-right"></i></div></a>

    {% include navigation.html %}
  </div>

</section>