<section class="flex" id="portfolio">

  <div class="header waypoint" data-animation="slide-in-right">PROJECTS</div>
  <div class="header-bar waypoint" data-animation="slide-in-right" data-delay=".3s"></div>

  <div class="filter-wrap waypoint" data-animation="fade-in">
    <div class="flex row">
      <div class="filter filter1" data-filter="all">ALL</div>
      {% for category in site.data.portfolio.categories %}
        <div class="filter filter1" data-filter=".{{category.class_name}}">{{category.name}}</div>
      {% endfor %}
    </div>
    <div class="float-bar">
      <div class="flex row">
        <div class="filter filter1" data-filter="all">ALL</div>
        {% for category in site.data.portfolio.categories %}
          <div class="filter filter1" data-filter=".{{category.class_name}}">{{category.name}}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="gallery container flex row wrap waypoint collapsible">
    {% for project in site.data.portfolio.projects %}
      <div class="mix {{project.category}}" data-my-order="1">
        <div>
          <div class="card" style="background: url('img/thumb-{{project.id}}.jpg') center center/cover;"></div>
          <div class="text">
            <div class="bold">{{project.name}}</div>
            <span class="highlight">{{project.summary}}</span>
          </div>
          <div class="button" id="{{project.id}}">LEARN MORE</div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="expand-button" dest="portfolio">
    Show More
    <i class="mdi mdi-chevron-double-down page-link"></i>
  </button>
</section>
